# Code Owners for Tickets Hunter Project
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All files require review from project maintainer
* @bouob
